<app-date-pager (dateSwitch)="onSwitchDate($event)"></app-date-pager>

<p>
  <mat-slide-toggle labelPosition="before" [(ngModel)]="appearedInOffice" (change)="onToggleOfficeSwitch($event)">
    Посещение офиса
  </mat-slide-toggle>
</p>

<p *ngIf="appearedInOffice">
  <label>Статус чек-листа</label>
  <mat-icon *ngIf="checkListExists" color="primary">check_box</mat-icon>
  <mat-icon *ngIf="!checkListExists" color="warn">check_box_outline_blank</mat-icon>
  <mat-icon color="primary" matTooltip="Чек-лист заполнен, но не отправлен">help</mat-icon>
</p>

<p *ngIf="appearedInOffice">
  <button mat-flat-button color="primary" (click)="openCheckListDialog()">Заполнить чек-лист</button>
</p>
