<app-date-pager (dateSwitch)="onSwitchDate($event)"></app-date-pager>

<p>
  <mat-slide-toggle labelPosition="before" [(ngModel)]="appearedInOffice" (change)="onToggleOfficeSwitch($event)">
    Посещение офиса
  </mat-slide-toggle>
</p>

<p *ngIf="appearedInOffice">
  <label>Статус чек-листа</label>
  <mat-icon *ngIf="submittedChecklist" color="primary">check_box</mat-icon>
  <mat-icon *ngIf="!checkListExists" color="warn">check_box_outline_blank</mat-icon>
  <mat-icon *ngIf="checkListExists && !submittedChecklist" color="warn">indeterminate_check_box</mat-icon>
  <mat-icon *ngIf="submittedChecklist" color="primary" matTooltip="Чек-лист отправлен">help</mat-icon>
  <mat-icon *ngIf="checkListExists && !submittedChecklist" color="primary" matTooltip="Чек-лист заполнен, но не отправлен">help</mat-icon>
  <mat-icon *ngIf="!checkListExists" color="primary" matTooltip="Чек-лист не заполнен">help</mat-icon>
</p>

<p *ngIf="appearedInOffice">
  <button mat-flat-button color="primary" (click)="openCheckListDialog()">Заполнить чек-лист</button>
  <span>&nbsp;</span>
  <button *ngIf="checkListExists" mat-flat-button color="primary" (click)="submitChecklist()">Отправить чек-лист
  </button>
</p>
